BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterDefinitionReturnType: All
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  AfterStruct: true
  BeforeElse: true
  BeforeWhile: true
  AfterClass: true
  AfterNamespace: true
  AfterTemplate: true
  BeforeFunction: true
ColumnLimit: 0
SpacesBeforeTrailingComments: 2
SpaceBeforeParens: true
SpacesInParentheses: false
AlignAfterOpenBracket: Align
AlignOperands: true
AlignTrailingComments: true

# Define naming conventions
CaseInsensitive: true
NameCase:
  Function: TitleCase
  Type: TitleCase
  Enum: TitleCase
  EnumConstant: UPPER_CASE
  Variable: lower_case
  LocalVariable: lower_case
  GlobalVariable: lower_case
  Constant: lower_case
  Pointer: MyType* pointer
  Macro: UPPER_CASE
  Define: UPPER_CASE

# Pointers and references formatting
PointerAlignment: Left
PointerIndentation: Align

# Formatting rules for operators
BinOp: None
UnaryOperator: None
BreakBeforeTernaryOperators: true

# Miscellaneous preferences
MaxEmptyLinesToKeep: 1
AllowShortFunctionsOnASingleLine: true
MaxEmptyLines: 1
Cpp11BracedListStyle: true
